html, body {
  height: 100%;
  width: 100%;
}

.stopButton{
  height : 50px;
  width: 200px;
  font-size: 30px;
  color: white;
  background-color: red;
}

.retryButton{
  height : 50px;
  width: 200px;
  font-size: 30px;
  color: yellow;
  background-color:green;
}